
div#header {
    padding: 10px 50px;
    color: white;
    background-color: black;
}

div.article1 {
	width: 30%;
    margin: 5%;
    height: 150 px;
}

div.article2{
	width: 30%;
	height: 150 px;
    margin: 5px;
}

div.article3{
	width: 30%;
	height: 150 px;
     margin: 5px;
}

div.article4{
    width: 30%;
    height: 150 px;
     margin: 5px;
}